$primary: #306EF7;
$secondary: #707070;
$black: #000;
$white: #fff;

$very_big-bp: 1780px;
$big-bp: 1670px;
$pre_middle-bp: 1600px;
$middle-bp: 1500px;
$laptop-bp: 1400px;
$tablet-bp: 1100px;
$mini_tablet-bp: 768px;
$very_big_phone-bp: 600px;
$big_phone-bp: 500px;
$middle_phone-bp: 375px;
$mini_phone-bp: 325px;