.container{
    max-width: 115rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;

    &--header{
        max-width: 164rem;
    }
    &--why{
        max-width: 148.3rem;
    }
    &--tiles{
        max-width: 173.1rem;
        padding: 0;
    }
    &--footer{
        max-width: 164rem;
    }
    &--about{
        max-width: 115.4rem;
    }
    &--team{
        max-width: 105.8rem;
    }
    &--sources{
        max-width: 125.5rem;
    }
    &--pricing{
        max-width: 164rem;
    }
    &--form{
        max-width: 152rem;
    }
    @include breakpoint($mini_phone-bp) {
        padding: 0 1rem;
    }
}