.header{
    padding-top: 3rem;
    padding-bottom: 3rem;
    position: fixed;
    width: 100%;
    z-index: 100;
    background: $black;
    top: 0;
    @include breakpoint($pre_middle-bp) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.header__inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include breakpoint($tablet-bp) {
        justify-content: space-between;
    }
}

.nav__logo{
    display: flex;
    align-items: flex-start;
}

.logo__text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 3.7rem;
    line-height: 5.6rem;

    color: $white;

    margin-left: 1.6rem;

    transition: color 1s;

    &:hover{
        color: $black;
    }
    &--about{
        font-size: 6.2rem;
    }
}

.header__nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    @include breakpoint($tablet-bp) {
        background: #000;
        top: 9.6rem;
        position: absolute;
        display: none;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        &.show{
            display: flex;
        }
    }
}

.nav__ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
    li:not(:last-child){
        margin-right: 4rem;
        @include breakpoint($very_big_phone-bp) {
            margin-right: 0;
        }
    }
    @include breakpoint($tablet-bp) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        li{
            padding: 2rem;
        }
    }
    
}

.nav__link{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: $secondary;

    transition: color .3s;

    &:hover{
        color: $primary;
    }

    &--active{
        color: $primary;
        &:hover{
            color: $primary;
        }
    }

    &--button{
        margin-right: 2.4rem;
    }
}

.has--subnav{
    position: relative;
    display: flex;

    &:hover .subnav__array{
        transform: rotate(40deg);
    } 
    &:hover .subnav__ul{
        display: flex;
        background: $black;
        
    }
    &:hover .subnav__span{
        color: $white;
    }
}

.subnav__span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: $secondary;
}

.subnav__array{
    display: block;
    width: 0.6rem;
    height: 0.6rem;
    border-top: solid 0.2rem #707070;
    border-right: solid 0.2rem #707070;
    transform: rotate(135deg);
    position: absolute;
    top: 1.3rem;
    right: -1.15rem;
    transition: 0.3s;
}

.subnav__ul{
    display: none;
    flex-direction: column;
    border: solid 0.4rem #707070;
    border-radius: 1rem;
    padding: 1.1rem;
    position: absolute;
    width: 15rem;
    left: -2.2rem;
    top: 3rem;
    @include breakpoint($tablet-bp) {
        flex-direction: row;
        width: 45rem;
        left: 14rem;
        top: -3rem;
    }
    @include breakpoint($very_big_phone-bp) {
        width: 35rem;
    }
    @include breakpoint($big_phone-bp) {
        width: 15rem;
        flex-direction: column;
    }
}

.subnav__link{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
    color: $secondary;

    transition: color .3s;

    &:hover{
        color: $primary;
    }

    &--active{
        color: $primary;
        &:hover{
            color: $primary;
        }
    }
}

.burger{
    display: none;
    height: 5px;
    width: 40px;
    border: none;
    border-radius: 3px;
    position: relative;
    background-color: $white;
    cursor: pointer;
    &::after{
        content: "";
        display: block;
        position: absolute;
        border-radius: 3px;
        top: -10px;
        background-color: $white;
        height: 5px;
        width: 40px;
    }
    &::before{
        content: "";
        display: block;
        position: absolute;
        border-radius: 3px;
        bottom: -10px;
        background-color: $white;
        height: 5px;
        width: 40px;
    }
    
    @include breakpoint($tablet-bp) {
        display: block;    
    }
}