.pricing__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 11.2rem;
    color: $white;
    text-align: center;
    @include breakpoint($middle_phone-bp) {
        font-size: 6rem;
        line-height: 8rem;
    }
}

.plans{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7.7rem;
    margin-top: 12.3rem;
    @include breakpoint($tablet-bp) {
        grid-template-columns: 1fr;
    }
}

.plan{
    padding: 3.8rem 3.5rem;
    border: .1rem solid $secondary;
    border-radius: 2rem;
    background-color: #131313;
    color: $white;
    &--blue{
        background-color: #3C82F4;
    }
    position: relative;
    @include breakpoint($middle_phone-bp) {
        width: 100%;
        padding: 3.8rem 2.5rem;
    }
    @include breakpoint($middle_phone-bp) {
        padding: 2.8rem 1rem;
    }
}

.plan__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 5rem;
    line-height: 7.5rem;
}

.plan__subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.2rem;
    color: #B4B1B1;
    &.white{
        color: $white;
    }
}

.plan__price{
    margin-top: 1.4rem;
    margin-bottom: 6.704rem;
    &--free{
        margin-bottom: 10.8rem;
    }
}

.price__number{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 6.9rem;
    line-height: 10.4rem;
    display: inline-block;
}

.price__period{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 3.9rem;
    color: #B4B1B1;
    &.white{
        color: $white;
    }
}

.alternative__price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.2rem;
    text-decoration-line: underline;
    color: #B4B1B1;
    &.white{
        color: $white;
    }
}

.plan__text__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 4rem;
}

.plan__text__content{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.2rem;
}

.plan__text__subcontent{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    color: #B4B1B1;
    &.white{
        color: $white;
    }

    margin: 4.496rem 0 5.404rem 0;
}

.plan__ul{
    margin-top: 3rem;
    margin-bottom: 14.4rem;
    list-style-image: url(/assets/images/grayCheckMark.svg);
    &.white{
        list-style-image: url(/assets/images/whiteCheckMark.svg);
    }
}

.plan__li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;
    display: list-item;
    list-style-position: inside;
    margin-bottom: 2rem;
    &::marker{
        height: 100%;
    }
}

