.section{
    margin: 0 auto;
    padding: 9rem 2rem;
    max-width: 210rem;
    &--why{
        padding-bottom: 7rem;
    }
    &--help{
        max-width: none;
    }
    &--about{
        padding-top: 23.2rem;
    }
    &--sources{
        padding-top: 23.8rem;
    }
    &--pricing{
        padding-top: 23.684rem;
    }
    @include breakpoint($big_phone-bp) {
        padding: 9rem 1.3rem;
    }
}

.section__title{
    display: block;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 7.5rem;
    line-height: 11.2rem;
    color: $white;

    &--left{
        text-align: left;
        @include breakpoint($middle-bp) {
            text-align: center;
        }
    }

    &--why{
        margin-bottom: 6.4rem;
    }

    @include breakpoint($middle-bp) {
        text-align: center;
    }
    @include breakpoint($big_phone-bp) {
        font-size: 5rem;
        line-height: 9rem;
    }
}

.section__content{
    margin-left: 18rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    @include breakpoint($very_big-bp) {
        margin-left: 0;
    }
    @include breakpoint($middle-bp) {
        flex-direction: column;
        align-items: center;
    }
}

.section__text{
    @include breakpoint($middle-bp) {
        text-align: center;
    }
}

.section__sup{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 4.5rem;
    color: $white;
    margin-bottom: 8rem;
    @include breakpoint($middle-bp) {
        text-align: center;
    }
}

.section__ol{
    margin: 3rem 0 6.6rem 0;
    counter-reset: my-awesome-counter;
}

.section__li{
    list-style-position: inside;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3rem;
    line-height: 3.4rem;
    color: $white;
    counter-increment: my-awesome-counter;
    margin-bottom: 1.2rem;

    &::before {
        content: counter(my-awesome-counter);
        background: $secondary;
        width: 3.3rem;
        height: 3.3rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 3.3rem;
        color: $white;
        text-align: center;
        margin-right: 1.2rem;
      }
}

.section__images{
    height: 59rem;
    position: relative;
    
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    width: 82rem;
    background-size: contain;
    &.shadow__dark{
        box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 1);
    }
    &.shadow__white{
        box-shadow: 0px 30px 50px rgba(100, 100, 100, 0.498039);
    }
    .square__img{
        position: absolute;
        bottom: -13rem;
        right: 19rem;
        z-index: -1;
        @include breakpoint($very_big_phone-bp) {
            bottom: -6rem;
            right: 11rem;
            width: 60%;
        }
    }
    &.firstStep{
        background-image: url(/assets/images/section/firstStep.jpg);
    }
    &.thirdStep{
        background-image: url(/assets/images/section/thirdStep.jpg);
    }

    @include breakpoint($middle-bp) {
        margin-top: 5rem;
    }
    @include breakpoint($mini_tablet-bp) {
        height: 40rem;
        width: 55.5rem;
    }
    @include breakpoint($very_big_phone-bp) {
        height: 31rem;
        width: 43rem;
    }
    @include breakpoint($big_phone-bp) {
        height: 30rem;
        width: 100%;
        background-size: cover;
    }
}

