.tiles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
    @include breakpoint($big-bp) {
        flex-direction: column;
        align-items: center;
    }
}

.tile{
    width: 85.3rem;
    height: 66.6rem;
    padding: 3.4rem 3rem;
    background: #0D0D0D;
    &--img{
        position: relative;
        padding: 3.3rem 4.5rem;
    }

    img{
        position: absolute;
        bottom: 0;
        right: 0;
        @include breakpoint($mini_tablet-bp) {
            display: none;
        }
    }
    @include breakpoint($very_big-bp) {
        width: 80rem;
    }
    @include breakpoint($big-bp) {
        margin-bottom: 5rem;
        width: 85.3rem;
    }
    @include breakpoint($tablet-bp) {
        width: 80rem;
    }
    @include breakpoint($mini_tablet-bp) {
        width: 60rem;
    }
    @include breakpoint($very_big_phone-bp) {
        width: 45rem;
        height: 42rem;
    }
    @include breakpoint($big_phone-bp) {
        width: 100%;
        height: 40rem;
    }
    @include breakpoint($middle_phone-bp) {
        height: 50%;
    }
}

.tile__sup{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4.5rem;
    color: #0FC65C;
}

.tile__titles{
    margin-top: 9.6rem;
    &--img{
        margin-top: 2.4rem;
    }
    @include breakpoint($mini_tablet-bp) {
        margin-top: 2.4rem;
    }
}

.tile__title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 8rem;
    line-height: 9.5rem;
    color: $white;
    &--gray{
        color: #919191;
    }
    @include breakpoint($very_big_phone-bp) {
        font-size: 7rem;
    }
    @include breakpoint($big_phone-bp) {
        font-size: 5rem;
        line-height: 7rem;
    }
}