<footer class="footer">
    <div class="container container--footer">
        
        <div class="footer__content">

            <img src="/assets/images/logo.svg" alt="Marico" class="footer__logo">
            <h2 class="footer__title">Get Started Now</h2>
            <p class="footer__text">Setup is easy and takes under 5 minutes.</p>
            <a href="/signup.html" class="button blue button--footer">Get Started Now</a>

            <div class="creators creators--intro">
                <span class="creators__count">1000+</span>
                <span class="creators__text">creators have already started</>
            </div>
        </div>

        <div class="footer__nav">
            <div class="footer__nav__logo">
                <div class="nav__logo">
                    <img src="/assets/images/logo.svg" alt="">
                    <h3 class="logo__text">Marico</h3>
                </div>
                <a href="info@marico.co" class="footer__email">info@marico.co</a>
            </div>

            <nav class="nav">
                <ul class="nav__ul nav__ul--footer">
                    <li>
                        <div href="#" class="nav__link has--subnav">
                            <span class="subnav__span id="footerHome"">Use Cases
                                <div class="subnav__array"></div>
                            </span>
                            <ul class="subnav__ul">
                                <li><a class="subnav__link" href="">1 case</a></li>
                                <li><a class="subnav__link" href="">2 case</a></li>
                                <li><a class="subnav__link" href="">3 case</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/about.html" class="nav__link" id="footerAbout">About</a></li>
                    <li><a href="/pricing.html" class="nav__link" id="footerPricing">Pricing</a></li>
                    <li><a href="/blog.html" class="nav__link" id="footerBlog">Blog</a></li>
                </ul>
            </nav>
        </div>

    </div>
</footer>
