<header class="header">
    <div class="container container--header">
        <div class="header__inner">

            <a href="/index.html" class="nav__logo">
                <img src="/assets/images/logo.svg" alt="">
                <h3 class="logo__text">Marico</h3>
            </a>

            <nav class="header__nav" id="header__nav">
                <ul class="nav__ul">
                    <li>
                        <div href="#" class="nav__link has--subnav">
                            <span class="subnav__span" id="headerHome">Steps
                                <div class="subnav__array"></div>
                            </span>
                            <ul class="subnav__ul">
                                <li><a class="subnav__link" href="/index.html#firstStep">1 step</a></li>
                                <li><a class="subnav__link" href="/index.html#secondStep">2 step</a></li>
                                <li><a class="subnav__link" href="/index.html#thirdStep">3 step</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/about.html" class="nav__link" id="headerAbout">About</a></li>
                    <li><a href="/pricing.html" class="nav__link" id="headerPricing">Pricing</a></li>
                    <li><a href="/blog.html" class="nav__link" id="headerBlog">Blog</a></li>
                </ul>
            

                <div class="header__buttons">
                    <ul class="nav__ul">
                        <li><a href="/login.html" class="nav__link nav__link--button" id="headerLogin">Login</a></li>
                        <li><a href="/signup.html" class="button button--header blue">Sign Up</a></li>
                    </ul>
                </div>
            </nav>

            <button class="burger" id="burger"></button>
            
        </div>
    </div>
</header>
